# EMQX broker configuration
EMQX_NAME=emqx
EMQX_HOST=emqx
EMQX_DASHBOARD__DEFAULT_USERNAME=lucid
EMQX_DASHBOARD__DEFAULT_PASSWORD=REDACTED

# Provisioner configuration (passed to the provisioner container)
EMQX_URL=http://emqx:18083
EMQX_USERNAME=lucid
EMQX_PASSWORD=REDACTED

LUCID_DB_HOST=lucid-db:5432
LUCID_DB_NAME=lucid
LUCID_DB_USER=lucid
LUCID_DB_PASSWORD=REDACTED
